.category-div{
	/*border: 2px solid black;*/
}

.preview{
	border: 3px solid #e7e7e7;
	height: 400px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.preview-thumbnail{
	height: 100%;
	width:60%;
	float:right;
}

.preview-desc{
	width: 40%;
	height: 100%;
}

.preview-image{
	max-height: 360px;
	max-width: 100%;
}

.preview-title{
	font-size: x-large;
}

.preview-text{
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}
